
/* START NAV MENU */
nav {
   /* width: 1260px;
    height: 35px;*/
    height: 24px;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 1em;
   /* text-shadow: 1px 2px 1px #FFFFFF;*/
  /* background-color: #1E0359
   background-color: #0431B4;*/
   background-color:#D3E7F7;
   padding-top: 0px;
	padding-bottom: 6px;
	top: 7px;
    
       
   
   /* border-radius: 8px;*/
}
 
 
nav ul {
  height: auto;
    padding: 8px 0px;
    margin: 0px;
}
 
nav li {
display: inline;
padding: 20px;  }
 /*Changes */
nav a {
 text-decoration: none;
   /* color: #E5E4E2;*/
   color:#000000;
  /*  padding: 8px 8px 8px 8px;*/
  
}
 
nav ul li a:hover { 
 /* background: #617F8A;
 background:#C1ECFA */
 background: #FFFFFF
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
 /* background: #FFFFFF;*/ 
  background:#0431B4
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #000000; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* END NAV MENU */





/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

tr#header
{
border-width : 0px; 
background-color: #D3E7F7;
font-weight:bold;
white-space: nowrap;

}

tr#even
{
border-width : 0px; 
background-color: #46C646;
/*background-color: #087830;*/
/*background-color: #6A92B3*/
background-color:#D3E7F7;
}

tr#odd
{
border-width : 0px; 
background-color: #E1E100;
/*background-color: #f0e68c;*/
/*background-color:#93B7D5;*/
background-color:#FFFFFF
}

td p#para
{
 text-align: center; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;
}

td p#techpara
{
text-align: justify; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;
}

td span#techspan
{
  font-size: 10pt; font-family: 'Arial', 'Helvetica', sans-serif; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: transparent; text-decoration: none;
}

td p#paraleft
{
text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;
}

td p span#span
{
font-size: 10pt; font-family: 'Arial', 'Helvetica', sans-serif; font-style: normal; font-weight: normal; color: #000000; background-color: transparent; text-decoration: none;
}

td p span#spanactive
{
font-size: 10pt; font-family: 'Arial', 'Helvetica', sans-serif; font-style: normal; font-weight: normal; color: #FF0000; background-color: transparent; text-decoration: none;
}

td p span#spaninactive
{
font-size: 10pt; font-family: 'Arial', 'Helvetica', sans-serif; font-style: normal; font-weight: normal; color: #5600AF; background-color: transparent; text-decoration: none;
}
.banner {
	/*position: absolute;
	height: 75px;*/
	height: .75em;
	background: url(../img/bg-banner.gif) repeat-x;
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	top: 0px;
}
